body {
  font-family: roboto, sans-serif;
}

/* Header Section */
.header-container {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
  list-style-type: none;
  font-size: 18px;
}

.header-links li {
  padding-left: 20px;
  padding-right: 20px;
}

/* Title Section */
.title-container {
  display: flex;
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.title-secondary,
.placeholder {
  font-size: 18px;
  color: #e5e7eb;
}

.placeholder {
  background-color: gray;
  width: 600px;
}

/*  Information Section */
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rounded-square {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 12px;
}

.square-subtext {
  width: 150px;
  text-align: center;
}

/* Testimonial Section */
.testimonial-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  width: 820px;
}

.quote-person {
  font-size: 18px;
  font-weight: 700;
  width: 820px;
  text-align: right;
}

/* Call to Action */
.cta-section {
  display: flex;
  justify-content: space-between;

  width: 600px;
  height: auto;

  margin: 40px auto;

  background-color: #3882f6;

  border-radius: 12px;
  padding: 40px 60px;
}

.cta-text-container {
  display: flex;
  flex-direction: column;
}

.cta-text-container h4 {
  color: #f9faf8;
  margin: 2px;
  font-size: 18px;
  font-weight: 700;
}

.cta-text-container p {
  color: #e5e7eb;
  margin: 2px;
  font-size: 14px;
}

/* Footer */
footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 20px;
}
