/* For Landing Page css */

/*
Font: roboto


dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

___

Button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

___

Quote section background color
#E5E7EB

Quote text
36px light italic
#1F2937

*/

body {
  font-family: roboto, sans-serif;
}

/* Header Section */
.header-container {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
  list-style-type: none;
  font-size: 18px;
}

.header-links li {
  padding-left: 20px;
  padding-right: 20px;
}

/* Title Section */
.title-container {
  display: flex;
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.title-secondary,
.placeholder {
  font-size: 18px;
  color: #e5e7eb;
}

.placeholder {
  background-color: gray;
  width: 600px;
}

/*  Information Section */
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.information-container {
  display: flex;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rounded-square {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 12px;
}

.square-subtext {
  width: 150px;
  text-align: center;
}

/* Testimonial Section */
.testimonial-section {
  background-color: #e5e7eb;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  width: 820px;
}

/* Footer */
footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 20px;
}
